<div class="fondo">
    <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button 
        (click)="Salir()">
            <mat-icon>logout</mat-icon>
          </button>
  </mat-toolbar>

  <router-outlet/>

  <!-- <div class="centrado">
  
  <mat-card class="card" appearance="outlined">
    <mat-card-header>
      <mat-card-title>Chihuahua</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-footer class="example-card-footer">
        <button mat-fab extended
        (click)="Salir()">
            <mat-icon>home</mat-icon>
            Salir
          </button>
    </mat-card-footer>
  </mat-card>
  
</div> -->
</div>
 