/* Estilos para el contenedor principal */
.container {
    max-width: 80%;
    margin: 50px auto;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Encabezado */
.container h2 {
    text-align: center;
    font-size: 1.8em;
    color: #343a40;
    margin-bottom: 20px;
    font-weight: bold;
}

/* filto */
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: collapse;
}

.table-bordered {
    border: 10px solid #dee2e6;
    overflow: hidden;
    border-radius: 8px;
}

.table-striped  tr:nth-of-type(odd) {
    background-color: #f3f4f6;
}

.table th {
    background-color: #5e0c91;
    color: white;
    text-align: center;
    padding: 12px;
    font-size: 1em;
}

.table td {
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    color: #495057;
}

/* Efecto hover para filas de la tabla */
.table tr:hover {
    background-color: #e9ecef;
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .table thead {
        display: none;
    }
    .table, .table tbody, .table tr, .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 10px;
        border-bottom: 1px solid #dee2e6;
    }
    .table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 10px;
        font-weight: bold;
        text-transform: uppercase;
    }
}
